*,
:before,
:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  hyphens: auto;
  overflow-wrap: break-word;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  color: #333;

  &.lock {
    height: 100vh;
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
}

button {
  background: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

.wrapper {
  overflow-x: hidden;
}

.primary-btn {
  display: inline-block;
  padding: 24px 37px;

  background-color: $accent-color;

  font-weight: 700;
  transition: 300ms;

  &:focus,
  &:hover {
    background-color: #ffb84d;
  }

  &:active {
    background-color: $secondary-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-size: inherit;
}

.title {
  font-size: 48px;
  line-height: 122%;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.slick-track {
  overflow: hidden;
}

.none {
  display: none;
}

.up-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  position: fixed;
  bottom: -100%;
  right: 20px;

  background-color: $accent-color;
  transition: 300ms;

  &.up-btn_active {
    bottom: 20px;
  }

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  svg {
    transform: rotate(180deg);
  }
}
